<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Rubik.DataTools.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Rubik.DataTools.Settings>
      <setting name="DatabaseUser" serializeAs="String">
        <value>FONETPACS</value>
      </setting>
      <setting name="DatabasePassword" serializeAs="String">
        <value>8079521</value>
      </setting>
      <setting name="DatabaseSID" serializeAs="String">
        <value>FONETXE</value>
      </setting>
    </Rubik.DataTools.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
